h1 {
	color: 	white;
	width: auto;
}
#deux {
	color: white;
	width: auto;
}
.degrade{
	display: inline-block;
	background-color: red;
	 border-width:1px;
 	border-style:dotted;
 	border-color:blue;
	border-radius: 8px;
	font-style: oblique;
	font-size: sans-serif;
}

.degradee{
	display: inline-block;
	background-color: blue;
	 border-width:1px;
 	border-style:dotted;
 	border-color:blue;
	border-radius: 8px;
	font-style: oblique;
	font-size: sans-serif;
}


.margin-top-sm {
	margin-top: 1em;
}

.banniere  {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 100px;
	width: 100px;
	height: 169px;
	background-position: top;
	background-size: center ;

}

#main-content {
	background-image:url("images/20998.jpg");
	background-position: top;
	height: 100%;
	background-repeat: no-repeat;
	background-size: center ;
	margin-right: auto;
	margin-left: auto;

}
body {
	height: 100%;
	margin: 0;
}
	
html {
	height: 100%
}
